/* By Raphael Bastide http://raphaelbastide.com/ */

/* Yahoo reset */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Lato, sans;
  font-size: 28px;
}

/*  header & footer  */
.doubleHeader{
  display:block;
  padding:30px 0 0 45px;
  width:30%;
}
#footer .doubleHeader{
  padding:0px 0 50px 45px;
}
.doubleHeader .menu-lollo-container{
  font-family:verdana;
  font-size:10px;
  padding:2px 5px;
  letter-spacing:1px;
  margin:-22px 0 0 0;
  text-align:right;
}

.doubleHeader li{
  display:inline;
  padding:0 0 5px 0;
  background:url(i/underabout.gif) repeat-x bottom;
}
.doubleHeader li:hover{
  background:url(i/underabout.gif) repeat-x bottom right;
}
.fat{
  font-weight:bold;
  padding:0px 3px 3px 3px;
}


/*  Content  */

.home #content{font-family:verdana, arial, sans-serif;}

#content{
  text-align:center;
  padding:0px 0 0 0;
  margin:70px 0 100px 0;
  width:80%;
  float:left;
}
#container{
  margin: 0 0 150px 0;
}

.thumb{
  margin:30px;
  display:inline-block;
  vertical-align:middle;
}
.thumb a, .thumb img{display:block;}

/*  Gifsy Kings sidebar  */

#blackBar{
  position:fixed;
  top:70px;
  right:20%;
  background:black;
  width:8px;
}

#side{
  width:20%;
  float:right;
  font-size:10px;
  letter-spacing:1px;
}

#gkLogoContainer{
  position:absolute;
  text-align:center;
  top:30px;
  right:0;
  z-index:0;
  letter-spacing:1px;
  width:20%;
}
#gkLogo{
  position:relative;
  width:100px;
  margin:0 auto;
  text-align:center;
  letter-spacing:1px;
}
#gkLogo p{
  display:none;
  margin:0px 0 0 0;
  width:auto;
  text-align:center;
}
#gkLogo a{display:block;}

#gkLogo img{width:70px;}

#warped {
  position:absolute;
  display: block;
  width:100px;
  height:110px;
  top:0px;
  right:10px;
}

#gkPosts{
  margin-top:230px;
  text-align:center;
}
#tumblr_recent_photos a{
  margin:0 0 55px 0;
  display:block;
}

.more{
  font-size:28px;
  display:block;
  width:35px;
  height:35px;
  line-height:27px;
  margin:45px auto;
  border:2px solid black;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.more a{font-weight:bold;padding:0 0 0 2px;}
.more a:hover{font-weight:normal;}

#footer{clear:both;}

/*  SINGLE  */
.single #content{
  width:100%;
}

.single.no-description .post .images {
  margin:35px 1% 0 1%;
  width:98%;
}
.post .images{
  margin:35px 0 0 2%;
  width:60%;
}
.single .images img{
  display:block;
  margin:0 auto 11% auto;
}

.post #desc{
  max-width:550px;
  width:30%;
  position:absolute;
  top:100px;
  right:30px;
  margin:0 auto;
  text-align:left;
  font-size:17px;
  letter-spacing:0.01em;
  overflow:hidden;
}

.post #desc a{
  text-decoration:underline;
}
.post #desc p.spaced {
  margin: 20px 0 20px 20px;
  text-indent: 0;
}
.post #desc img{
  display: block;
}

.post #desc h1{
  margin-bottom: 14px;
}
.post #desc p {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  text-indent: 20px;
}

.single .images-cote-a-cote{margin-top:7%;}
.single .images-cote-a-cote .images img{
  display:inline-block;
  margin:2%;
}
/*Arles-Paris*/
#post-186{width:760px;}
#post-186 img{margin:0px 30px 30px 0;}
.single #footer .doubleHeader{display:none;}

.post-edit-link{
  position:fixed;
  top:25px;
  right:180px;
  font-family:verdana, sans;
  font-weight:normal;
}

.single .doubleHeader{
  position:fixed;
  top:0;
  left:0;
  display:block;
  padding:30px 0 0 45px;
  width:30%;
}

#postnav{
  position:fixed;
  top:24px;
  font-size:40px;
  right:40px;
  font-family:Lucida Grande,verdana, courier;
  font-weight:normal;
  width:100px;
}
#postnav a{float:left;}
#postnav a[rel=next]{float:right;}


/* ABOUT PAGE*/

html.page{background: white;}
.page #content{width:100%;}
.page .post{
  margin:100px auto 0 auto;
  width:600px;
  text-align:left;
  font-size:17px;
  line-height:23px;
  padding:18px;
  overflow:hidden;
  background:white;
}
#post-2 #info{
  float:left;
  width:65%;
}
#post-2 #more{
  padding:0 0 0 8px;
  border-left:2px solid black;
  float:right;
  width:30%;
}
#post-2 h2{
  margin-top:15px;
  margin-bottom:7px;
  display:inline-block;
  padding:0 0 7px 0;
  background:url(i/underabout.gif) repeat-x bottom;
}
#post-2 a:hover{
  border-bottom:1px dotted black;
}
#post-2 #more h2:first-child{margin-top:0px;}

.page #footer .doubleHeader{
  display:none;
}

#error404 h1{color:red;margin-top:20%;letter-spacing:5px;}

/*  HTML  */

a{text-decoration:none;color:black;}
a.fat, #postnav a{position:relative;width:auto;height:30px;}
a.fat:active, #postnav a:active{top:1px;}
::-moz-any-link:focus {outline: none;}
::selection {color:navy;}
::-moz-selection {color:navy;}

/*  MEDIA ADAPT  */

@media only screen and (min-width: 1600px) {
  #blackBar{right:16%;}
  #footer .doubleHeader{display:none;}
}

@media only screen and (max-width: 1220px) and (min-width: 695px) {
  #blackBar{right:150px;}
  #header{width:50%;}
}
@media only screen and (max-width: 695px) and (min-width: 470px) {
  .attachment-large{max-width:400px;height:auto;}
  #content{width:70%;}
  #side,#gkLogoContainer {width:30%;}
  #blackBar{right:150px;}
}

@media only screen and (max-width: 1200px) {
  .single .images-cote-a-cote .images img{margin:2% 0;}
  .single .post #desc{position:static; width:90%; margin:50px auto;}
  .single .post .images{margin:0 auto; width:100%;}
  .single .attachment-large{max-width:90%;height:auto;}
}

@media only screen and (max-width: 600px) {
  #post-2 {padding:0 1%; width:98%; margin:0;}
  #post-2 #info{
    margin:0 0 30px 0;
  }
  #post-2 #info, #post-2 #more{
    float:none;
    width:100%;
    border:none;
    padding:0;
  }
}


@media only screen and (max-width: 470px) {
  body .doubleHeader, .single .doubleHeader, #content{width:97%; margin:0; padding:5px;}
  .thumb{margin:20px 5px;}
  #content{margin:80px 0 40px 0;}
  #side,#gkLogoContainer {clear:both;}
  #side{float:none; width:100%;}
  #postnav{top:0; right:5px;}
  #gkLogoContainer {position:static; width:100%; margin-top:50px;}
  #gkPosts{margin-top:100px;}
  #blackBar{display:none;}
}

/*  GifsyKings TYPOGRAPHY */

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
  -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-family:'Lato', sans-serif;font-size:13px;font-weight:700;font-style:normal;
line-height:0.85; white-space:pre; overflow:visible; padding:0px;}

#warped .w0 {-moz-transform: rotate(2.17rad);-webkit-transform: rotate(2.17rad);-o-transform:
  rotate(2.17rad);-ms-transform: rotate(2.17rad); transform: rotate(2.17rad);
width: 9px; height: 11px; left: 18.82px; top: 27.61px;}

#warped .w1 {-moz-transform: rotate(1.84rad);-webkit-transform: rotate(1.84rad);-o-transform:
  rotate(1.84rad);-ms-transform: rotate(1.84rad); transform: rotate(1.84rad);
width: 4px; height: 11px; left: 15.57px; top: 39.76px;}

#warped .w2 {-moz-transform: rotate(1.54rad);-webkit-transform: rotate(1.54rad);-o-transform:
  rotate(1.54rad);-ms-transform: rotate(1.54rad); transform: rotate(1.54rad);
width: 7px; height: 11px; left: 12.51px; top: 52.11px;}

#warped .w3 {-moz-transform: rotate(1.2rad);-webkit-transform: rotate(1.2rad);-o-transform:
  rotate(1.2rad);-ms-transform: rotate(1.2rad); transform: rotate(1.2rad);
width: 7px; height: 11px; left: 15.25px; top: 65.77px;}

#warped .w4 {-moz-transform: rotate(0.83rad);-webkit-transform: rotate(0.83rad);-o-transform:
  rotate(0.83rad);-ms-transform: rotate(0.83rad); transform: rotate(0.83rad);
width: 9px; height: 11px; left: 22.07px; top: 78.47px;}

#warped .w5 {-moz-transform: rotate(0.44rad);-webkit-transform: rotate(0.44rad);-o-transform:
  rotate(0.44rad);-ms-transform: rotate(0.44rad); transform: rotate(0.44rad);
width: 9px; height: 11px; left: 34.81px; top: 87.98px;}

#warped .w6 {-moz-transform: rotate(0.11rad);-webkit-transform: rotate(0.11rad);-o-transform:
  rotate(0.11rad);-ms-transform: rotate(0.11rad); transform: rotate(0.11rad);
width: 4px; height: 11px; left: 50.22px; top: 91.72px;}

#warped .w7 {-moz-transform: rotate(-0.23rad);-webkit-transform: rotate(-0.23rad);-o-transform:
  rotate(-0.23rad);-ms-transform: rotate(-0.23rad); transform: rotate(-0.23rad);
width: 10px; height: 11px; left: 61.13px; top: 90.96px;}

#warped .w8 {-moz-transform: rotate(-0.63rad);-webkit-transform: rotate(-0.63rad);-o-transform:
  rotate(-0.63rad);-ms-transform: rotate(-0.63rad); transform: rotate(-0.63rad);
width: 9px; height: 11px; left: 76.55px; top: 84.19px;}

#warped .w9 {-moz-transform: rotate(-1rad);-webkit-transform: rotate(-1rad);-o-transform:
  rotate(-1rad);-ms-transform: rotate(-1rad); transform: rotate(-1rad); width:
7px; height: 11px; left: 87.84px; top: 73.39px;}

#warped .w10 {-moz-transform: rotate(-1.31rad);-webkit-transform: rotate(-1.31rad);-o-transform:
  rotate(-1.31rad);-ms-transform: rotate(-1.31rad); transform: rotate(-1.31rad);
width: 8px; height: 9px; left: 81.01px; top: 60.5px;}

